APP_ENV=local
APP_TIMEZONE=Asia/Seoul
APP_DATA_DIR=./data
APP_POLICIES_DIR=./policies
APP_DEFAULT_DEVICE_ID=relay_esp12e_room_a

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8080
BACKEND_API_TOKEN=change-me

MQTT_HOST=localhost
MQTT_PORT=1883
MQTT_USERNAME=
MQTT_PASSWORD=
MQTT_TOPIC_PREFIX=home

HOME_ASSISTANT_URL=http://homeassistant.local:8123
HOME_ASSISTANT_TOKEN=change-me
HOME_ASSISTANT_ALARM_SERVICE=script.iot_alarm_run

CALENDAR_PROVIDER=file
CALENDAR_FILE=./data/calendar_events.json
GOOGLE_CALENDAR_ID=primary
GOOGLE_APPLICATION_CREDENTIALS=
NAVER_CLIENT_ID=
NAVER_CLIENT_SECRET=
NAVER_ACCESS_TOKEN=
